.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
#quote-box {
  justify-content: end;
  align-content: center;
  display:flex;
  flex-wrap: wrap;
  border: 1px solid black ;
  padding: 30px;
  width: 200px;
  height: 260px;
  border-radius: 30px;
}
#text{
  text-align: justify;
  font-size: 20px;
}
#author {
  background-color: #333;
  color: white;
  margin: 5px 0px 10px 0px;
  font-size: 12px;
  letter-spacing: 3px;
  padding: 0 7px;
}
#new-quote {
  border: none;
  background-color: black;
  color: white;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  transition-duration: 0.5s;
}
#img {
margin: 20px 0px;
}

#new-quote:hover {
  background-color: white;
  color: black;
}